{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/bootstrap-material-design-font/css/material.css' %}">
    <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise3-blocks-plugin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
    <link rel="stylesheet" href="{% static 'assets/custom-css/atc-custom.css' %}">

 <link rel="stylesheet" href="//releases.flowplayer.org/7.0.4/skin/skin.css">
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="//releases.flowplayer.org/7.0.4/flowplayer.min.js"></script>

                   <script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-115218161-1');
</script>
    {% block head %}

    {% endblock %}
</head>
<body>
<section class="menu1" id="menu2-0">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container-fluid">

            <div class="mbr-table">
                <div class="mbr-table-cell logo">

                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo"><img src="{% static 'assets/images/Alpha SQT Best Logo.jpg' %}" alt="Alpha Superior Quality" style="height: 4rem;"></a>
                        <a class="navbar-caption" href="/">Alpha Superior Quality</a>
                        <!--
                        <div class="navbar-caption">&nbsp; -------- &nbsp;</div>
                                                      {% if user.is_anonymous %}
                              <a href="/login/" class="navbar-caption">Login</a>
                              {% else %}
                              <a href="/logout/" class="navbar-caption">Logout</a>
                              {% endif %}
                        -->

                    </div>

                </div>
                <li class="mbr-table-cell text">

                    <button class="navbar-toggler pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-xl" id="exCollapsingNavbar">


                           <li class="nav-item">
                              {% if user.is_anonymous %}
                              <a href="/login/" class="nav-link link">Login</a>
                              {% else %}
                              <a href="/logout/" class="nav-link link">Logout</a>
                              {% endif %}
                            </li>

                        <li class="nav-item"><a class="nav-link link" href="/">Home</a></li>

                        <li class="nav-item"><a class="nav-link link" href="/contact/">Contact</a></li>

                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link link" href="/requests/">Messages</a></li>
                                <li class="nav-item"><a class="nav-link link" href="/admin/">Admin</a></li>
                            {% else %}
                            {% endif %}
                    </ul>

                    </div>
                    </ul>

                    <button hidden="" class="navbar-togglear navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>

            </div>

        </div>
    </nav>

</section>


{% block content %}



{% endblock %}

<footer class="mbr-small-footer mbr-section mbr-section-nopadding footer4" id="footer4-s" style="background-color: rgb(255, 255, 255); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright (c) {{ date }}&nbsp;<br>Contact Email: support@alphatc.com</p>
    </div>
</footer>

    <section class="engine"></section>
    <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
    <script src="{% static 'assets/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
    <script src="{% static 'assets/tether/tether.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/smooth-scroll/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/viewportChecker/jquery.viewportchecker.js' %}"></script>
    <script src="{% static 'assets/theme/js/script.js' %}"></script>
    <script src="{% static 'assets/mobirise3-blocks-plugin/js/script.js' %}"></script>
    <input name="animation" type="hidden">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102014733-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>