<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.10.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/tether/tether.min.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/theme/css/style.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/michaelkay.media/assets/mobirise/css/mbr-additional.css" type="text/css">

    {% load staticfiles %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'scripts/mkm.js' %}"></script>

    {% block head %}

    {% endblock %}
</head>
<body>
<form action="/create_post/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<a href="#" id="get-data">Get JSON data</a>
    <div id="show-data"></div>
</body>