{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/images/ATC.jpg' %}" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'assets/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/tether/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/soundcloud-plugin/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/gallery/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/mobirise/css/mbr-additional.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>
<section class="menu cid-qFxHIrg1QM" once="menu" id="menu1-0" data-rv-view="4">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span><i class="fas fa-align-justify"></i></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="{% static 'assets/assets/images/ATC.jpg' %}" alt="Mobirise" title="" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://mobirise.com"><br><br></a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/Training.aspx">
                        Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/OnsiteTraining.aspx">
                        Onsite Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/estore_listitems.aspx">
                        E-Store</a>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/Services.aspx">
                        Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/Clients.aspx">
                        Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/Faq.aspx">
                        FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://www.alphatc.com/ContactUs.aspx">
                        Contact</a>
                </li>
            </ul>

        </div>
    </nav>
</section>
    <br/><br/><br/><br/>
<div style="margin: 0 auto;">

      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5" >
          <font color="black">Online Training for ASQ Certifications</font>
      </h3>
</div>
<section class="mbr-section mbr-section__container mbr-section__container--isolated" data-rv-view="3" style="background-color: white">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="mbr-section mbr-section__container mbr-section__container--isolated" data-rv-view="3" style="background-color: white">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
               <form action="https://mobirise.com/" method="post" >
                    <div>
                        <table>
                            <tr>
                                <td colspan="2"><input class="form-control" type="username" name="username" placeholder="Username" id=""></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input class="form-control" type="password" name="email" placeholder="Password" id=""></td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="input-group-btn">
                                        <button href="" type="submit" class="btn btn-primary  display-4">LOGIN</button>
                                    </span>
                                </td>
                                <td>
                                    <a href="https://www.alphatc.com/Register.aspx" style="color: black">New User?</a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
<section class="carousel slide cid-qFDFOHMJS2" data-interval="false" id="slider2-8">


    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div>
                <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="60000">
                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="0"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="1"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="2"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="3"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="4"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="5"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="6"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="7"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="8"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="9"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="10"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="11"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="12"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="13"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="14"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                    <div class="carousel-item slider-fullscreen-image active" style="background-image: url({% static 'assets/assets/images/slide-6-consulting-700x350.jpg' %});">
                        <div class="container container-slide">
                            <div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-supplier-text.jpg' %}"  >
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-six-sigma-yellow-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-six-sigma-green-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-six-sigma-black-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-reliability-eng-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-qualityauditor-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-quality-technician-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-quality-process-analysis-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-quality-inspector-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-quality-improvement-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-quality-engineer-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-manager-quality-oe-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-construction-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-calibration-technician-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/asq-slide-biomedical-auditor-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-8">
                        <span aria-hidden="true" class="mbri-left mbr-iconfont">

                    </span>
                        <span class="sr-only">Previous
                        </span>
                    </a>
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-8">
                        <span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>
<section class="features4 cid-qFDgcAOjmw" id="features4-4" data-rv-view="92" style="padding-top: 0;padding-bottom: 0">

    <div class="container">
        <div class="media-container-row">
            <div class="card p-2 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">



                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Marketing Presentation</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Learn more about <br>Alpha TC offerings</p>
                        <div id="accordion" class="accordion">
                            <div class="card m-b-0">
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#1collapseOne">
                                    <a class="card-title">
                                        Modules
                                    </a>
                                </div>

                                <div id="1collapseOne" class="card-block collapse">
                                      <ul class="list-inline mx-auto justify-content-center">
                                        <li>Learning Management System (LMS) (05:06) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O107O72O97O116O76O110O111O65O81O53O65O61">View</a></li>
                                        <li>Flat Rate Training Defined (17:17) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O82O78O118O47O57O76O51O111O112O80O56O61">View</a></li>
                                        <li>Supply Chain Management Program (15:13) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O98O83O75O109O108O75O54O103O120O66O48O61">View</a></li>
                                        <li>Video Production (Alpha) (04:33) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O68O120O48O114O66O69O77O107O55O118O81O61">View</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card p-2 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Transform Your Organization</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Upper Management Training<br/>FREE!</p>
                        <div id="accordion" class="accordion">
                            <div class="card m-b-0">
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <a class="card-title">
                                        Modules
                                    </a>
                                </div>

                                <div id="collapseOne" class="card-block collapse">
                                      <ul class="list-inline mx-auto justify-content-center">
                                        <li>Welcome To Your Transformation! (14:19) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O98O106O49O47O43O114O51O73O98O55O56O61">View</a></li>
                                        <li>Introduction to Transformation (Upper Mang.) (55:19) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O83O81O70O48O80O72O51O112O51O85O81O61">View</a></li>
                                        <li>Welcome to LEAN (25:15) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O111O70O66O109O69O70O51O104O121O72O107O61">View</a></li>
                                        <li>LEAN Overview (48:22) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O97O105O119O103O49O103O97O67O99O122O119O61">View</a></li>
                                        <li>Upper Management Transformation (48:29) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O121O49O110O81O106O68O51O53O121O118O99O61">View</a></li>
                                        <li>Middle Management Transformation (33:02) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O115O102O87O82O73O81O120O87O97O57O119O61">View</a></li>
                                        <li>Supervisors and Support Transformation (11:29) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O77O89O74O98O74O100O118O53O89O76O111O61">View</a></li>
                                        <li>Engineering Transformation (18:15) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O51O87O73O103O121O105O54O55O118O53O99O61">View</a></li>
                                        <li>General Employee Transformation (18:54) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O115O72O57O84O119O75O52O80O53O70O99O61">View</a></li>
                                        <li>LEAN Putting it all together (50:52) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O65O113O116O84O48O108O66O75O114O55O103O61">View</a></li>
                                        <li>GSIP Certification Transformation (17:17) <a href="https://www.alphatc.com/TakeCourse.aspx?cId=O120O73O121O73O89O100O109O108O43O104O115O61">View</a></li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>
<hr/>
<section class="features4 cid-qFDgcAOjmw" id="features4-4" data-rv-view="92" style="padding-top: 0;padding-bottom: 0">

    <div class="container">

        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <a target="_blank" href="http://www.asqcssbb.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/ssbb.jpg' %}" alt="ASQ SSYB Certified Six Sigma Black Belt">
                    </div>
                    </a>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcssgb.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/ssgb.jpg' %}" alt="ASQ SSGB Certified Six Sigma Green Belt">
                    </div>
                    </a>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcssyb.com">
                        <div class="card-box">
                        <img src="{% static 'assets/assets/images/ssyb.jpg' %}" alt="ASQ SSYB Certified Six Sigma Yellow Belt">
                        </div>
                    </a>
                </div>
            </div>


        </div>
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <a target="_blank" href="http://www.asqcqe.com">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqe.jpg' %}" alt="ASQ CQE Certified Quality Engineer">
                    </div>
                </div>
                </a>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <a target="_blank" href="http://www.asqcmq.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cmq.jpg' %}" alt="ASQ CMQ/OE Certified Manager of Quality/Organizational Excellence">
                    </div>
                    </a>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcct.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/CCT.jpg' %}" alt="ASQ CCT Certified Calibration Technician">
                    </div>
                    </a>
                </div>
            </div>




        </div>

        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <a target="_blank" href="http://www.asqcqt.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqt.jpg' %}" alt="ASQ CQT Certified Quality Technician">
                    </div>
                    </a>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <a target="_blank" href="http://www.asqcqa.com">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqa.jpg' %}" alt="ASQ CQA Certified Quality Auditor">
                    </div>
                </div>
                </a>
            </div>



            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <a target="_blank" href="http://www.asqcqi.com">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqi.jpg' %}" alt="ASQ CQI Certified Quality Inspector">
                    </div>
                </div>
                </a>
            </div>

        </div>

        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcre.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cre.jpg' %}" alt="ASQ CRE Certified Reliability Engineer">
                    </div>
                    </a>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcsqp.com">
                        <div class="card-box">
                        <img src="{% static 'assets/assets/images/csqp.jpg' %}" alt="ASQ CSQP Certified Supplier Quality Professional">
                        </div>
                    </a>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcqia.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqia.jpg' %}" alt="ASQ CQIA Certified Quality Improvement Associate">
                    </div>
                    </a>
                </div>
            </div>




        </div>

        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqcqpa.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/cqpa.jpg' %}" alt="ASQ CQPA Certified Process Analytst">
                    </div>
                    </a>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <a target="_blank" href="http://www.asqcba.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/CBA.jpg' %}"  alt="ASQ CBA Certified Biomedical Auditor">
                    </div>
                    </a>
                </div>
            </div>







        </div>


        <div class="media-container-row" style="display: none">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <a target="_blank" href="http://www.asqssbb.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/leanb.jpg' %}" alt="Lean Bronze">
                    </div>
                    </a>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <a target="_blank" href="http://www.asqssgb.com">
                    <div class="card-box">
                        <img src="{% static 'assets/assets/images/leans.jpg' %}" alt="Lean Silver">
                    </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>


<footer class="mbr-small-footer mbr-section mbr-section-nopadding footer4" id="footer4-s" style="background-color: rgb(255, 255, 255); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright  Alpha Training and Consulting (c) &nbsp;<br>Contact Email: support@alphatc.com</p>
    </div>
</footer>

    <section class="engine"></section>
    <input name="animation" type="hidden">

  <script src="{% static 'assets/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/assets/ytplayer/jquery.mb.ytplayer.min.js' %}"></script>
  <script src="{% static 'assets/assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  <script src="{% static 'assets/assets/vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  <script src="{% static 'assets/assets/masonry/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/assets/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/assets/gallery/player.min.js' %}"></script>
  <script src="{% static 'assets/assets/gallery/script.js' %}"></script>
  <script src="{% static 'assets/assets/slidervideo/script.js' %}"></script>
  <script src="{% static 'assets/assets/formoid/formoid.min.js' %}"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102014733-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>




