{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

    <section class="mbr-section accordion1 mbr-after-navbar" style="background-color: rgb(255, 255, 255); padding-top: 100px; padding-bottom: 100px;">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-head text-center">
                        <h1 class="mbr-section-title display-2 text-center mbr-editable-content">Contact Requests</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div id="accordion1-4k-init" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                      <div class="accordion-group">

                        {% for x in contact_reqs %}

                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="req_{{ x.id }}">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title mbr-editable-content">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#collapse{{ x.id }}accordion1-4k" data-core="" href="#collapse{{ x.id }}accordion1-4k" aria-expanded="false" aria-controls="collapse_{{ x.id }}">{{ x.email }}</a></h4>
                            </div>
                            <div id="collapse{{ x.id }}accordion1-4k" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="req_{{ x.id }}">
                                <div class="panel-body mbr-editable-content">
                                    <p>{{ x.name }}</p>
                                    <p>{{ x.message }}</p></div>
                            </div>
                        </div>


                        {% endfor %}

                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}