{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

<section class="mbr-section mbr-section-hero form3" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 40px;">



        <div class="container">
            <div class="row heading">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1 class="mbr-section-title heading-title mbr-editable-content">Contact Us</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12 form">

                <div class="row" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                    </div>




                    <form action="/contact/" method="post" data-form-title="Send your suggestions">

                        {% csrf_token %}
                        <input type="hidden" value="oUoPJ75QpSMiUIf0wP9A7xBQx/zpri9lIZqBM7mAnhl/pHyMXbTboSGgkj8YGO9dwb6WwSOuQqhOOqr8zg3dxjA6RB+wkDErklMyUFQC6e0V4ZSxouHA27lczsMH6+9B" data-form-email="true">

                        <div class="col-xs-12 col-md-8 col-md-offset-2 form-wrap">

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" required="" data-form-field="name" placeholder="Name*">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" required="" data-form-field="email" placeholder="Email*">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <textarea class="form-control" name="message" rows="7" data-form-field="message" placeholder="Message"></textarea>
                            </div>

                        </div>

                        <div class="clear"></div>

                        <div class="form-separator"></div>

                        <div class="col-xs-12 col-md-8 col-md-offset-2 form-button-wrap">

                            <div class="button-block text-xs-center" style="width: 100%;"><button type="submit" class="btn btn-lg btn-info mbr-editable-button">Send message</button></div>

                        </div>

                    </form>

                </div>

            </div>
        </div>


</section>
{% endblock %}
