{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'assets/assets/images/image001.jpg' %}" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'assets/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/tether/tether.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/soundcloud-plugin/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/theme/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/gallery/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/assets/mobirise/css/mbr-additional.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
                   <script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>



</head>
<body>
<br>
<div style="margin: 0 auto;">

      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5" >

                    <a href="/">
                         <img src="{% static 'assets/assets/images/image001.jpg' %}" alt="Mobirise" title="" media-simple="true" style="height: 6.8rem;">
                    </a>
          <font color="black">Global Society for Improving Processes</font>
      </h3>
</div>
<section class="mbr-section mbr-section__container mbr-section__container--isolated" data-rv-view="3" style="background-color: white">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section class="carousel slide cid-qFDFOHMJS2" data-interval="false" id="slider2-8">


    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div>
                <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="60000">
                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="0"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="1"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="2"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="3"></li>
                        <li data-app-prevent-settings="" data-target="#slider2-8" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                    <div class="carousel-item slider-fullscreen-image active" style="background-image: url({% static 'assets/assets/images/slide-6-consulting-700x350.jpg' %});">
                        <div class="container container-slide">
                            <div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/gsip-slide-champion-text.jpg' %}"  >
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/gsip-slide-lean-sixsigmablack-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/gsip-slide-lean-sixsigmagreen-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/gsip-slide-six-sigma-black-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item slider-fullscreen-image" style="background-image: url({% static 'assets/assets/images/slide-2-asq-700x350.jpg' %});">
                        <div class="container container-slide"><div class="image_wrapper">
                            <img src="{% static 'assets/assets/images/gsip-slide-six-sigma-green-text.jpg' %}">
                            <div class="carousel-caption justify-content-center"><div class="col-10 align-center">

                            </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-8">
                        <span aria-hidden="true" class="mbri-left mbr-iconfont">

                    </span>
                        <span class="sr-only">Previous
                        </span>
                    </a>
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-8">
                        <span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="mbr-section mbr-section-hero features15" style="background-color: rgb(255, 255, 253); padding-top: 0px; padding-bottom: 40px;">
        <div class="container">
            <div class="row heading">
                <div class="col-md-12">

      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5" >
          <font color="black">Why choose us?</font>
      </h3>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                <div id="wowza" style="width:480px;height:320px;margin:0 auto;text-align:center">
                                </div>
                                <script>
                                $f("wowza", "https://releases.flowplayer.org/swf/flowplayer-3.2.18.swf", {

                                    clip: {
                                        url: 'mp4:SD/1/Intro+to+GSIP+Certification',
                                        scaling: 'fit',
                                        autoPlay: false,
                                        // configure clip to use hddn as our provider, referring to our rtmp plugin
                                        provider: 'hddn'
                                    },

                                    // streaming plugins are configured under the plugins node
                                    plugins: {

                                        // here is our rtmp plugin configuration
                                        hddn: {
                                            url: "flowplayer.rtmp-3.2.13.swf",

                                            // netConnectionUrl defines where the streams are found
                                            netConnectionUrl: 'rtmp://s34zsila3cvn77.cloudfront.net/cfx/st'
                                        }
                                    },
                                    canvas: {
                                        backgroundGradient: 'none'
                                    }
                                });
                                </script>

                                </p>

                            </div>
                </div>
            </div>
        </div>
</section>


<hr/>
<section class="mbr-section content6" style="background-color: white">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                                <a class="nav-link link text-black display-4" href="{% static 'assets/assets/images/GSIP BOK Champion.pdf' %}" target="_blank">
                <div class="media-container-row">
                    <div class="mbr-figure" >
                       <img src="{% static 'assets/assets/images/gsip-champion.jpg' %}" alt="ASQ SSYB Certified Six Sigma Black Belt">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style" >
                                <b>Check out the Body of Knowledge</b>
                                <br>
                            </p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="mbr-section content6" style="background-color: white">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                                <a class="nav-link link text-black display-4" href="{% static 'assets/assets/images/GSIP BOK LSS BB_old.pdf' %}" target="_blank">
                <div class="media-container-row">
                    <div class="mbr-figure" >
                       <img src="{% static 'assets/assets/images/gsip-LEAN-six-sigma-black.jpg' %}">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style" >
                                <b>Check out the Body of Knowledge</b>
                                <br>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<section class="mbr-section content6" style="background-color: white">

    <div class="container">
        <div class="media-container-row">


            <div class="col-12 col-md-8">

                <a class="nav-link link text-black display-4" href="{% static 'assets/assets/images/GSIP BOK LEAN 6 Sigma Green Belt.pdf' %}" target="_blank">
                <div class="media-container-row">
                    <div class="mbr-figure" >
                       <img src="{% static 'assets/assets/images/gsip-LEAN-six-sigma-green.jpg' %}">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style" >
                                <b>Check out the Body of Knowledge</b>
                                <br>
                            </p>
                        </div>
                    </div></a>
                </div>

            </div>
        </div>
    </div>
</section>

<hr>
<section class="mbr-section content6" style="background-color: white">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                                <a class="nav-link link text-black display-4" href="{% static 'assets/assets/images/GSIP BOK 6 Sigma Black Belt.pdf' %}" target="_blank">
                <div class="media-container-row">
                    <div class="mbr-figure" >
                       <img src="{% static 'assets/assets/images/gsip-six-sigma-black.jpg' %}">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style" >
                                <b>Check out the Body of Knowledge</b>
                                <br>

                            </p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="mbr-section content6" style="background-color: white">

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                                <a class="nav-link link text-black display-4" href="{% static 'assets/assets/images/GSIP BOK 6 Sigma Green Belt.pdf' %}" target="_blank">
                <div class="media-container-row">
                    <div class="mbr-figure" >
                       <img src="{% static 'assets/assets/images/gsip-six-sigma-green.jpg' %}" alt="ASQ SSYB Certified Six Sigma Black Belt">
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text mb-0 mbr-fonts-style" >
                                <b>Check out the Body of Knowledge</b>
                                <br>
                            </p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<section class="mbr-section article content1" style="background-color: white">


    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style"  data-app-selector=".mbr-text"><h3><b>Why chose GSIP as your organizational certification?
</b></h3><div><b>
</b></div><div>We know you have a choice.  Our goal is to be the most preferred certification for the following BOK’s:
</div><div><b>
</b></div><div><b>·         LEAN Six Sigma Black Belt
</b></div><div><b>
</b></div><div><b>·         LEAN Six Sigma Green Belt
</b></div><div><b>
</b></div><div><b>·         LEAN Six Sigma Yellow Belt
</b></div><div><b>
</b></div><div><b>·         LEAN Bronze
</b></div><div><b>
</b></div><div><b>·         LEAN Silver
</b></div><div><b>
</b></div><div><b>&nbsp;
</b></div><div><b>
</b></div><div>&nbsp; The GSIP certification was created to meet the following objectives:
</div><div><b>
</b></div><div><b>1.       Greater Cost effectiveness on transformation type training programs
</b></div><div><b>
</b></div><div><b>2.       Promote continued use of students new found knowledge
</b></div><div><b>
</b></div><div><b>3.       Help organizations become more financially efficient
</b></div><div><b>
</b></div><div><b>4.       Help students get jobs and or promotions
</b></div><div><b>
</b></div><div><b>&nbsp;
</b></div><div><b>
</b></div><div>For the following clients:
</div><div><b>
</b></div><div><b>1.       University Students that operate under a GSIP contract.
</b></div><div><b>
</b></div><div><b>2.       High volume corporate accounts that result from large scale transformations.
</b></div><div><b>
</b></div><div><b>3.       Government agencies performing high volume training used in organizational transformation.
</b></div><div><b>
</b></div><div><b>4.       WARN training contracts.
</b></div><div><b>
</b></div><div><b>&nbsp;
</b></div><div><b>
            </b></div><div><b>More Cost Effective:<br></b>  Because our client base includes university students and high volume corporate and government accounts we need to keep the costs of training down if we are to serve in these types of markets.
</div><div>
</div><div>GSIP certification is approximately 5 to 10 times cheaper than traditional Six Sigma training, depending on volume.  GSIP can offer these lower prices due to our state of the art efficiencies, which include delivering training content over our state of the art online Learning Management System (LMS).  Our lectures are streamed in high quality HD video.
</div><div><br>
</div><div>Most of our university classes are taught as blended classes, which means the class is part face to face and part online.  We lecture face to face on the more challenging elements of the body of knowledge and the rest of the material is delivered as online training assignments.
</div><div><br>
</div><div>For our high volume corporate accounts all lectures are delivered as online assignments and all of the face time is spent coaching students on how to effectively and efficiently complete their Six Sigma projects.  This is a more effective and efficient way to create Six Sigma practitioners.  Many organizations using the traditional approach to Six Sigma training will spend all of their resources on the lectures and will have no resources available for coaching students on projects.  This makes for a very ineffective organizational transformation.
</div><div><br>
</div><div>The cost of the GSIP training includes the certification exam!
</div><div>
</div><div><br><b>Promotes Continued Use of Students New Found Knowledge:</b><br/> The awarding of the GSIP certification requires two requirements. The first requirement is the student must finish all lectures and their associated exams.  For university students this awards the students an educational certification.  University students will complete their projects and be awarded the complete GSIP certification after they graduate into the work force and have reasonable possibilities of performing DMAIC projects.
</div><div>
</div><div>The second requirement for standard GSIP certification is the student must finish a project.  After the project is completed and GSIP personnel completes the verification of project effectiveness and a correct dollar amount is agreed upon between GSIP personnel and the corporate sponsor then the certificate will be rewarded at a dollar level.  For example let’s say a student completes a project and it is determined that the project saved the sponsoring organization $100,000 per year.  Then the student would be awarded their GSIP certification at the $100,000 dollar level.  This level is printed on their certificate.
</div><div>
</div><div><br>The GSIP certification must be recertified every three years.  Completing projects is the only requirement for maintaining the GSIP certification.  Every three years the cost savings from all the projects performed over that three year period will be added up and the new certificate will be awarded at this dollar level.  GSIP encourages all organizations that hire GSIP certified employees to make GSIP certification, at a given dollar level, a job requirement.  This encourages the GSIP certified individual to keep performing projects to meet their GSIP job requirement.  This is how GSIP meets the objective of promoting continued use of the student’s new found knowledge.
</div><div><b>
</b></div><div><br><b>Help Company’s Become More Profitable:
</b></div><div><br>
</div><div>When companies that subscribe to the GSIP certification make GSIP certification, at a given dollar level, a job requirement then employees work more improvement projects which in turn creates savings thus making GSIP organizations more profitable.  Having students habitually work project also increases the value of human capital for the GSIP organization.
</div><div><b>
</b></div><div><b>&nbsp;
</b></div><div><b>
</b></div><div><b>&nbsp;</b></div></div>
        </div>
    </div>
</section>



<footer class="mbr-small-footer mbr-section mbr-section-nopadding footer4" id="footer4-s" style="background-color: rgb(255, 255, 255); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright GSIP (c) &nbsp;<br>Contact Email: support@gsip.org</p>
    </div>
</footer>

    <section class="engine"></section>
    <input name="animation" type="hidden">

  <script src="{% static 'assets/assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/assets/ytplayer/jquery.mb.ytplayer.min.js' %}"></script>
  <script src="{% static 'assets/assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  <script src="{% static 'assets/assets/vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  <script src="{% static 'assets/assets/masonry/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/assets/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/assets/gallery/player.min.js' %}"></script>
  <script src="{% static 'assets/assets/gallery/script.js' %}"></script>
  <script src="{% static 'assets/assets/slidervideo/script.js' %}"></script>
  <script src="{% static 'assets/assets/formoid/formoid.min.js' %}"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102014733-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>




