{% extends "__base.html" %}
{% load staticfiles %}
{% block content %}

<section class="mbr-section content3 mbr-section__container" style="background-color: rgb(255, 255, 255); padding-top: 100px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            	<h1 class="mbr-section-title display-2 text-center mbr-editable-content">{{ title.SITE }}
                    <br>
                    Online Training
                    <br>
                    ({{ title.SHORT }})
                </h1>
            </div>
        </div>
    </div>
</section>


<section class="mbr-section mbr-section-hero features15" style="background-color: rgb(255, 255, 253); padding-top: 40px; padding-bottom: 0px;">


        <div class="container">
            <div class="col-xs-12">
                <div class="row">

                        <div class="card" style="text-align: center;">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                <a href="#STORE">
                                <img src="{% static 'assets/images/B2.JPG' %}" alt="Alpha Superior Quality">
                                </a>
                                </p>

                            </div>
                            <div class="clear"></div>
                        </div>

                </div>
            </div>
        </div>


</section>


<section class="mbr-section mbr-section-hero features15" style="background-color: rgb(255, 255, 253); padding-top: 0px; padding-bottom: 40px;">
        <div class="container">
            <div class="row heading">
                <div class="col-md-12">

                    <h1 class="mbr-section-title display-3 heading-title mbr-editable-content">Why choose us?</h1>


                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                <div id="wowza" style="width:480px;height:320px;margin:0 auto;text-align:center">
                                </div>
                                <script>
                                $f("wowza", "https://releases.flowplayer.org/swf/flowplayer-3.2.18.swf", {

                                    clip: {
                                        url: '{{ title.VIDEOURL }}',
                                        scaling: 'fit',
                                        // configure clip to use hddn as our provider, referring to our rtmp plugin
                                        provider: 'hddn'
                                    },

                                    // streaming plugins are configured under the plugins node
                                    plugins: {

                                        // here is our rtmp plugin configuration
                                        hddn: {
                                            url: "flowplayer.rtmp-3.2.13.swf",

                                            // netConnectionUrl defines where the streams are found
                                            netConnectionUrl: 'rtmp://s34zsila3cvn77.cloudfront.net/cfx/st'
                                        }
                                    },
                                    canvas: {
                                        backgroundGradient: 'none'
                                    }
                                });
                                </script>

                                </p>

                            </div> <div class="row">
                            <div class="card-box col-xs-9 col-lg-12">
<div  style="width:480px;height:320px;margin:0 auto;text-align:center">
                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                        Learn more at <a href="http://www.alphatc.com">Alpha Training</a>
                                </p>
</div>
                            </div>
                </div>
                </div>

            </div>
        </div>
</section>


<section class="mbr-section mbr-section-hero features15" style="background-color: rgb(255, 255, 253); padding-top: 0px; padding-bottom: 0px;">

        <div class="container">
            <div class="col-xs-12">
                <div class="row">

                    <div class="mbr-cards-col col-xs-12 col-lg-3">
                        <div class="card" style="text-align: center;">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                    Access the {{ title.SHORT }} Body of Knowledge (BOK):
                                    <br>
                                    <a href="{{ title.BOK }}">Body of Knowledge (PDF)</a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="mbr-cards-col col-xs-12 col-lg-3">
                        <div class="card" style="text-align: center;">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                    Access the list of lectures:
                                    <br>
                                    <a href="{% static title.LECTURE %}">Course Lectures (PDF)</a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    {% if faqs %}

                    <div class="mbr-cards-col col-xs-12 col-lg-3">
                        <div class="card" style="text-align: center;">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                    Frequently Asked Questions:
                                    <br>
                                    <a href="#FAQ">FAQ</a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    {% endif %}

                    <div class="mbr-cards-col col-xs-12 col-lg-3">
                        <div class="card" style="text-align: center;">
                            <div class="card-box col-xs-9 col-lg-12">

                                <p class="card-text mbr-section-text text-1 mbr-editable-content">
                                    Check out what people say about us:
                                    <br>
                                    <a href="#TEST">Testimonials</a>
                                </p>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


</section>


<section class="mbr-section content3 mbr-section__container" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            	<h3 class="mbr-section-title display-2 text-center mbr-editable-content">Register For Course</h3>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section mbr-section-hero header3 header7" style="padding-top: 0px; padding-bottom: 0px; background-image: linear-gradient(20deg, rgb(255, 255, 253), rgb(255, 255, 253), rgb(255, 255, 253)); background-color: rgb(255, 255, 253); background-position: initial initial; background-repeat: initial initial;">



    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="row">
                    <div class="mbr-table-md-up">

                        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 30%;">
                            <div class="mbr-figure">

                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </div>



</section>




<section id="STORE" class="mbr-section content1 article mbr-section__container" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 0px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="mbr-section-text text-1 mbr-editable-full">

                    <div id="my-store-11484771"></div><div> <script type="text/javascript" src="https://app.ecwid.com/script.js?11484771" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=list","searchView=list","id=my-store-11484771");</script></div>

                </p>
            </div>
        </div>
    </div>

</section>


<section id="TEST" class="mbr-slider mbr-section mbr-section-nopadding carousel slide testimonials1" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">



    <div class="mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-3 mbr-editable-content">Testimonials</h3>

                </div>
            </div>
        </div>
    </div>

    <div class="container boxed-slider">
        <div>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Casey Staley</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content">“Thanks for the online training modules they made it really easy to study at my own pace and own schedule. The thing<div>that I feel helped the most were your newly added exam sample questions. They were really helpful. I also really liked the</div><div>test taking strategies and how to take the CQE Exam……"</div></div>
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Mark Christiansen</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content"><div>“I took the CQE test this morning and passed. Thank you for all your help these past months! I enjoyed the course and</div><div>look forward to using as much of it as I can during the course of my career."</div></div>
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Bruce Hollingsworth</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content"><div><span style="background-color: transparent; font-size: 1rem; line-height: 1.5;">“I just wanted to let you know I passed the CQE certification exam. Thank you so much for all your help and for your</span></div><div><span style="background-color: transparent; font-size: 1rem; line-height: 1.5;">excellent lectures/instruction."</span><br></div></div>
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Jason</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content"><div><span style="background-color: transparent; font-size: 1rem; line-height: 1.5;">“I passed the CSQP exam today.  I feel I have much to thank you.  You prepared our class so well last year for the CQE that getting ready for this one was much easier."</div></div>
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Nicole</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content"><div><span style="background-color: transparent; font-size: 1rem; line-height: 1.5;">“I took the CSSBB test today and passed!  Thank you for all of your help."</div></div>
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mbr-testimonial card">
                                <div class="mbr-author card-footer">

                                    <div class="author">
                                        <div class="mbr-author-name mbr-editable-content">Dalan</div>

                                    </div>
                                </div>
                                <div class="card-block mbr-editable-content"><div><span style="background-color: transparent; font-size: 1rem; line-height: 1.5;">“I passed the CSSBB exam yesterday! Thanks for all your help and support."<br></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#testimonials1-x" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#testimonials1-x" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#testimonials1-x" class="" data-slide-to="2"></li>
            </ol>

            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#testimonials1-x">
                <span class="mbri-left" aria-hidden="true" style="color: rgb(227, 227, 227);"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#testimonials1-x">
                <span class="mbri-right" aria-hidden="true" style="color: rgb(227, 227, 227);"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

</section>

{% if faqs %}


<section id="FAQ" class="mbr-section accordion1" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 100px;">


        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-head text-center">
                        <h1 class="mbr-section-title display-2 text-center mbr-editable-content">FAQ - {{ title.SHORT }}</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div id="accordion1-2-init" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                      <div class="accordion-group">


                        {% for faq in faqs %}

                        <div class="panel panel-default colorBG" style="display: block;">
                            <div class="panel-heading" role="tab" id="heading_{{ faq.id }}">
                                <span class="signSpan pseudoMinus"></span>
                                <h4 class="panel-title mbr-editable-content">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-2-init"
                                       data-core="" href="#collapse_{{ faq.id }}_accordion1-2" aria-expanded="false" aria-controls="collapse_{{ faq.id }}">
                                        <span class="sign"></span>{{ faq.title }}</a></h4>
                            </div>
                            <div id="collapse_{{ faq.id }}_accordion1-2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="heading_{{ faq.id }}">
                                <div class="panel-body mbr-editable-content">
                                    <p>{{ faq.description }}</p>
                                    {% if faq.link is not None %}

                                        <p>
                                        <a href="{{ faq.link.url }}">{{ faq.link.title }}</a>
                                        </p>
                                    {% endif %}
                                    <ol>
                                        {% for bullet in faq.bullets %}
                                            <li>{{ bullet }}</li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>

                        {% endfor %}




                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endif %}

{% if faqs2 %}

<section id="FAQ" class="mbr-section accordion1" style="background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 100px;">


        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-head text-center">
                        <h1 class="mbr-section-title display-2 text-center mbr-editable-content">FAQ - {{ title.SHORTCODE }}</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div id="accordion1-2-init" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                      <div class="accordion-group">


                        {% for faq in faqs2 %}

                        <div class="panel panel-default colorBG" style="display: block;">
                            <div class="panel-heading" role="tab" id="heading_{{ faq.id }}">
                                <span class="signSpan pseudoMinus"></span>
                                <h4 class="panel-title mbr-editable-content">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-2-init"
                                       data-core="" href="#collapse_{{ faq.id }}_accordion1-2" aria-expanded="false" aria-controls="collapse_{{ faq.id }}">
                                        <span class="sign"></span>{{ faq.title }}</a></h4>
                            </div>
                            <div id="collapse_{{ faq.id }}_accordion1-2" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="heading_{{ faq.id }}">
                                <div class="panel-body mbr-editable-content">
                                    <p>{{ faq.description }}</p>
                                    {% if faq.link is not None %}

                                        <p>
                                        <a href="{{ faq.link.url }}">{{ faq.link.title }}</a>
                                        </p>
                                    {% endif %}
                                    <ol>
                                        {% for bullet in faq.bullets %}
                                            <li>{{ bullet }}</li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>

                        {% endfor %}




                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endif %}

{% endblock %}
