{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

<section class="mbr-section content5" id="content5-x" style="background-image: linear-gradient(to right top, rgb(0, 0, 0), rgb(66, 66, 66)); background-color: rgb(0, 0, 0); padding-top: 80px; padding-bottom: 80px; background-position: initial initial; background-repeat: initial initial;">



        <div class="container">
            <div class="row heading">
                <div class="col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1 heading-title">NOT FOUND <br> DO NOT FREAK OUT!</h1>
                    <p class="mbr-section-subtitle text-1 heading-text">Please try again later</p>

                </div>
            </div>
        </div>

</section>
{% endblock %}
