{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

<section class="mbr-section mbr-section-hero form3" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 40px;">


{% csrf_token %}
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12 col-md-8">
                    <h1 >Thank you for your order!</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12 form">

                <div class="row" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">
                            Someone will contact you shortly.
                            <br>
                            Email john.lee@alphaqc.com if you have any questions.
                            </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="container" style="padding-top: 15px">
            <div class="row">
                <div align="center">
            <h3><a href="https://www.alphatc.com/index.aspx">Return to Alpha Training</a></h3>

        </div>
            </div>
        </div>


</section>
{% endblock %}
