{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

<section class="mbr-section mbr-section-hero form3" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 40px;">


        <div class="container">
            <div class="row heading">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1 class="mbr-section-title heading-title mbr-editable-content">Payment Test</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <a href="{{ link }}"> BUY NOW - ASQ CQI </a>

            <br/>

            <a href="{{ link2 }}"> BUY NOW - ASQ CQE </a>
        </div>


</section>
{% endblock %}
