{% extends "__base.html" %}
{% load staticfiles %}

{% block content %}

<section class="mbr-section mbr-section-hero form3" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 40px;">


{% csrf_token %}
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1 class="mbr-section-title heading-title mbr-editable-content">Contact Us</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12 form">

                <div class="row" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">
                            Someone will contact you shortly.
                            <br>
                            Thank you for your interest!
                            <br>
                            Request Id: {{ req_id }}
                        </div>
                    </div>

                </div>

            </div>
        </div>


</section>
{% endblock %}
