{% extends "__base.html" %}

{% block content %}

    <section class="mbr-section video2 mbr-section__container" id="video2-13" style="background-color: rgb(236, 240, 241); padding-top: 120px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-figure">
                    <div>

                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        <form method="post" action="../login/">
                        {% csrf_token %}
                        <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        </table>

                        <input type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}