div.ecwid-popup table.ecwid-popup-linkBlock tr {
    display: none;
}
div.ecwid-popup table.ecwid-popup-linkBlock tr:first-child {
    display: table-row;
}

div.ecwid-Checkout-PasswordBlock {
  display:none;
}

div.ecwid-Checkout-blockTitle {
    display:none;
}